.post {
    position: relative;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 755px;
    padding: 0;
    height: 900px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
}

.containerStyle {
    background-color: black;
    width: 99.5%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - 17px) 0, 100% 100%, 0 100%);
    z-index: 4;
    border-top-left-radius: 50px;
}

.divStyle {
    background-color: white;
    width: 7px;
    height: 100%;
    margin: 0 5px;
    box-sizing: border-box;
    transform: skew(40deg);
}

.avatar-container {
    background-color: dimgray;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    right: -15px;
    bottom: 20px;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0 0 0 black;
}

.left-rule {
    height: 100%;
    width: 15px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 2;
}