:root {
    --primary-color: white;
    --trim-color: black;
}

body {
    background-color: var(--primary-color);
}

.post {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    width: 755px;
    padding: 0;
    height: 700px;
    margin: 30px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 8px;
}

.containerStyle {
    background-color: var(--trim-color);
    width: 99.5%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - 17px) 0, calc(100% - 1px) 100%, 0 100%);
    border-top-left-radius: 50px;
    left: -15px;
    top: -19px;
}

.divStyle {
    background-color: var(--primary-color);
    width: 7px;
    height: 100%;
    margin: 0 5px;
    box-sizing: border-box;
    transform: skew(40deg);
}

.avatar-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 20px;
    border-bottom-right-radius: 50%;
}

.left-rule {
    height: 100%;
    width: 15px;
    background-color: var(--trim-color);
    position: absolute;
    top: 0;
    left: -15px;
    border-bottom-left-radius: 100%;
}